@{
    ViewBag.Title = "About";
}

<div class="AboutUs">
    <h2>Ewons Company Profile</h2>
    <br />
    <p>Ewons was established in 2018. Since that time, we have worked with our clients to offer creative ideas and online marketing support to ensure you receive the best possible return on your investment. Over the years, we have served many clients, from Fortune 500 companies to nonprofit organizations, with industries spanning retail, manufacturing, entertainment, sports, education, real estate, banking, energy, healthcare, aerospace and many more. Our clients appreciate that they can get all of their web development services under one roof. They don't have to interact with a separate website designer, seo copywriter, online marketing agency, and website hosting company. The result is a unified strategy that is both efficient and cost-effective.</p>
    <p>Avid Web specializes in web design, web development, web application development, ecommerce web design, web hosting and optimization of business solutions that improve the effectiveness of marketing, product presentation, interactive transactions, customer relationship management, and everyday business procedures. It is a company dedicated to understanding the client's market and developing capabilities that can deliver real, bottom-line results.</p>
    <p>Avid Web Designs & Marketing is comprised of a group of talented individuals with proven skills in the various specialties related to website design, web application development, ecommerce web design and online marketing. We are action oriented and acutely focused on ensuring our clients get the results they desire. Without the reliance on outsourcing, Avid Web can control every step of the web development process, enabling you to achieve measurable results through exceptional website design.</p>
</div>
