@{
    ViewBag.Title = "Home Page";
}

<main>


    <div class="Title-web">
        <div class="row justify-content-center">
            <div class="col-sm-6 order-md-3 order-lg-3 order-sm-3">
                <h1 class="Title-text"><span style="color:#3a5199">WEB</span>SITE</h1><br />
                <h2 class="Title-text">RESPONSIVE WEBSITE</h2>
                <h2 class="Title-text">BEST CHOICE FOR PROFIT</h2><br />
                <ul>
                    <li class="Title-text">Easy and cheap for maintance</li>
                    <li class="Title-text">No need for complicated annotation</li>
                    <li class="Title-text">No need for complicated device detection and redirection</li>
                </ul>
                <div class="Title-webbtn">
                    <a class="Title-webbtn" id="Webdiscover">Discover now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 order-md-2 order-lg-2 order-sm-2">
                <img class="img-fluid" style="padding:20px;transition:all 0.25s" src="~/Resources/Images/Banners/website.png" />
            </div>
        </div>
    </div>    
    <div class="Webdiscover" id="Cate">        
        <div>
            <h2 style="margin-top:30px">Our support services</h2>
            <br />
            <div class="row justify-content-around" style="background-color:skyblue;color:white;border-radius:0.25rem;box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5)">
                <div class="col-md-4">
                    <div class="Services">
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Web Design</h3>
                        <i class="far fa-file-code fa-3x"></i>
                        <p>We like to offer our clients what we call the 3 C's of web design, by providing websites that are Custom, Creative and Cost-Effective.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Web hosting</h3>
                        <i class="fas fa-globe fa-3x"></i>
                        <p>Reliability is key when selecting a firm to host your website. We are very proud to be part of one of the best Hosting Tier Networks.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Web development</h3>
                        <i class="fas fa-desktop fa-3x"></i>
                        <p>The key to all our successful web development projects, is effective collaboration through communication and interaction.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Customer support</h3>
                        <i class="far fa-comments fa-3x"></i>
                        <p>The award winning customer support. We care for our customers so we are always available for support. Feel free to reach out to us 24/7.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Free Quote</h3>
                        <i class="far fa-check-square fa-3x"></i>
                        <p>We breathe imagination and innovation into your brand and never lose focus from the ultimate endgame, making money on the web.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Study customer</h3>
                        <i class="fas fa-user-circle fa-3x"></i>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>        
        <br />
        <div class="CategoryChoice">
            <h2>What are you looking for?</h2>
            <div class="row justify-content-around" style="padding-bottom:30px;">
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/Business/Eco-power.jpg" />
                        <h3>Business</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/Company/Anchor.jpg" />
                        <h3>Company</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/Personal/Arcadia.jpg" />
                        <h3>Personal</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/ShopOnline/Bigshope.jpg" />
                        <h3>Marketing Online</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/Games/Combat-game.jpg" />
                        <h3>Games</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="~/Resources/Images/Templates/Company/Brownie.jpg" />
                        <h3>Customer ideas</h3>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="Title-soft">
        <div class="row justify-content-center">
            <div class="col-sm-6 order-md-1 order-lg-1 order-sm-1" style="color:white">
                <h1 class="Title-text" style="color:black"><span style="color:white">SOFT</span>WARE</h1><br />
                <h2 class="Title-text">ACCOUNTING SOFTWARE</h2>
                <h2 class="Title-text">BEST CHOICE FOR MANAGEMENT</h2><br />
                <ul>
                    <li class="Title-text">Focus on work, waste less time</li>
                    <li class="Title-text">Work smart, save time</li>
                    <li class="Title-text">Collaborate and work together.</li>
                </ul>
                <div class="Title-softbtn">
                    <a class="Title-softbtn">Discover now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 order-md-2 order-lg-2 order-sm-2">
                <img class="img-fluid" style="padding:20px;transition:all 0.25s" src="~/Resources/Images/Banners/Program.png" />
            </div>
        </div>
    </div>


</main>