@{
    ViewBag.Title = "Home Page";
}

<main>

</main>
<div class="Title" style="background-color: #bbc3c64d">
    <div class="row justify-content-center">
        <div class="col-sm-6 order-md-3 order-lg-3 order-sm-3">
            <h1 class="Title-text"><span style="color:#3a5199">WEB</span>SITE</h1><br />
            <h2 class="Title-text">RESPONSIVE WEBSITE</h2>
            <h2 class="Title-text">BEST CHOICE FOR PROFIT</h2><br />
            <ul>
                <li class="Title-text">Easy and cheap for maintance</li>
                <li class="Title-text">No need for complicated annotation</li>
                <li class="Title-text">No need for complicated device detection and redirection</li>
            </ul>
            <a  class="Title-btn" id="Webdiscover">Discover now</a>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 order-md-2 order-lg-2 order-sm-2">
            <img class="img-fluid" src="~/Resources/Images/Banners/website.png" />
        </div>        
    </div>
</div>
<div class="CategoryChoice" id="Cate">
    <div class="row">
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Business</h3>
            <img />
        </div>
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Company</h3>
            <img />
        </div>
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Personal</h3>
            <img />
        </div>
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Marketing Online</h3>
            <img />
        </div>
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Games</h3>
            <img />
        </div>
        <div class="col-4">
            <h3 style="text-align:center; font-family:fontawesome;letter-spacing:2px">Customer ideas</h3>
            <img />
        </div>
    </div>

</div>
<div class="Title" style="background-color: #006cf9b3;">
    <div class="row justify-content-center">
        <div class="col-sm-6 order-md-3 order-lg-3 order-sm-3" style="color:white">
            <h1 class="Title-text" style="color:black"><span style="color:white">SOFT</span>WARE</h1><br />
            <h2 class="Title-text">ACCOUNTING SOFTWARE</h2>
            <h2 class="Title-text">BEST CHOICE FOR MANAGEMENT</h2><br />
            <ul>
                <li class="Title-text">Focus on work, waste less time</li>
                <li class="Title-text">Work smart, save time</li>
                <li class="Title-text">Collaborate and work together.</li>
            </ul>
            <button type="button" class="btn btn-outline-light Right">Discover now</button>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 order-md-4 order-lg-4 order-sm-2">
            <img class="img-fluid" src="~/Resources/Images/Banners/Program.png" />
        </div>
    </div>
</div>

