
@{
    ViewBag.Title = "Website";    
}
@model SagoSoft.ViewModel.WebTemplateVM
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>

        .items {
            width: 32%;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 15px;

            top:0;transition:top 0.5s;
            position: relative;
        }
            .items:hover {
                top: -10px;
                transition: top 0.5s;
                
            }

        #containerx{
            font-size:0;
            margin:auto;            
        }     

        .container-f {
            background-color:lightgray;
            padding:0 20px;
        }

        #inner-name {
           text-align:center;
           background-color:white;
           padding-bottom:5px;
        }

        #inner-img {            
            width:100%;
            max-height:450px;
        }

           
        @@media (min-width:800px) {
            .items:nth-child(3n+2) {
                margin-left: 2%;
                margin-right: 2%;
            }
        }
        @@media only screen and (max-width: 800px) {
            .items{
                width:100%;
                
            }
        }
    </style>
</head>
<body>
    
    <h1 style="text-align:center;letter-spacing:3px;font-family:fontawesome; color:#808080">WEBSITE TEMPLATE</h1>
    <div class="row justify-content-center">
        <div class="col-lg-2 Category">
            <h4 style="text-align:center;letter-spacing:3px;font-family:fontawesome; color:#808080">Category</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Category1" checked>
                <label class="form-check-label" for="Category1">
                    THE LOAI 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Category2" on checked>
                <label class="form-check-label" for="Category2">
                    THE LOAI 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Category3" checked>
                <label class="form-check-label" for="Category3">
                    THE LOAI 3
                </label>
            </div>
        </div>
    </div>
    <div class="container-f">
        <div id="containerx">
            @foreach (var template in Model.WebTemps)
    {
        <div class="items " data-category="@template.Category">
            <img id="inner-img" src="@template.Image" />
            <h4 id="inner-name">@template.Name.ToUpper()</h4>
        </div>
}



         
        </div>
    </div>

   
</body>
