
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;letter-spacing:3px;font-family:fontawesome; color:#808080">WEBSITE TEMPLATE</h1>
<div class="row justify-content-center" >
    <div class="col-lg-2 Category">
        <h4 style="text-align:center;letter-spacing:3px;font-family:fontawesome; color:#808080">Category</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Category1" checked>
            <label class="form-check-label" for="Category1">
                THE LOAI 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Category2" on checked>
            <label class="form-check-label" for="Category2">
                THE LOAI 2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Category3" checked>
            <label class="form-check-label" for="Category3">
                THE LOAI 3
            </label>
        </div>
    </div>
    <div class="col-lg-8 Productlist">

    </div>
</div>

